@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", "Poppins" sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-primary: #ffbb00;
  --color-secondary: #a68d65;
  --color-alt: #fff8ea;
  --color-extra: #402e32;
  --color-nav: #e3e6f3;
  --black-color: #222;
  --text-color: #465b52;
  --big-font: 50px;
  --medium-font: 46px;
  --small-font: 20px;
  --very-small-font: 12px;
  --text-font: 16px;
  --bold-text: 700;
  --medium-text: 500;
  --thin-text: 300;
  --spaced-line: 64px;
  --medium-spaced-line: 54px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

li {
  list-style: none;
}

h1 {
  font-size: var(--big-font);
  line-height: var(--spaced-line);
  color: var(--black-color);
}

h2 {
  font-size: var(--medium-font);
  line-height: var(--medium-spaced-line);
  color: var(--black-color);
}

h4 {
  font-size: var(--small-font);
  color: var(--black-color);
}

h6 {
  font-size: var(--very-small-font);
  font-weight: var(--bold-text);
}

p {
  font-size: var(--text-font);
  color: var(--text-color);
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.normal:hover {
  background-color: var(--color-secondary);
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

/* to the top arrow */
.arrow-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  transition: 0.5s;
  visibility: none;
  opacity: 0;
}

.arrow-btn a {
  height: 39px;
  width: 37px;
  text-align: center;
  background: var(--color-primary);
  display: block;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.5s;
}

.arrow-btn a:hover {
  background: var(--color-secondary);
}

.arrow-btn a img {
  color: #f2f2f2;
  line-height: 39px;
  width: 20px;
  align-self: center;
  margin-top: 5px;
  /* height: 15px; */
}

.arrow-btn.active {
  visibility: visible;
  opacity: 1;
}

/*  STATIC NAVBAR START */

.nav {
  width: 100%;
  padding: 20px 0;
  background: var(--color-nav);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.navbar-li {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  flex: 1;
}

.navbar-li a {
  padding: 0 20px;
  font-size: var(--text-font);
  text-transform: capitalize;
  font-weight: var(--bold-text);
  transition: 0.5s ease;
}

.navbar-li a:hover,
.navbar-li li a.current {
  color: var(--color-secondary);
}

.navbar-li li a {
  position: relative;
}

.navbar-li li a.current::after,
.navbar-li li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: var(--color-secondary);
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.navbar-li a img {
  width: 30px;
}

.navbar-li-search {
  position: relative;
}

.navbar-li-search input {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: var(--black-font);
  font-weight: var(--medium-text);
}

/* .main {
  position: relative;
} */

.sub-menu {
  width: 30rem;
  display: block;
  position: absolute;
  border-top: 3px solid var(--color-primary);
  background-color: var(--color-extra);
  z-index: 100;
  top: 16rem;
  opacity: 0;
  visibility: hidden;
  transition: all 800ms ease;
  padding: 15px 0;
  color: #fff;
}

.sub-menu li {
  margin-bottom: 15px;
}

.sub-menu li a {
  color: #dfe0df;
}

.sub-menu::before {
  content: "";
  position: absolute;
  top: -2.5rem;
  left: 3rem;
  border: 1.2rem solid transparent;
  border-bottom-color: var(--color-primary);
}

.navbar-li li:hover > .sub-menu {
  top: 4.2rem;
  opacity: 1;
  visibility: visible;
}

.navbar-li-search .bg-non {
  position: absolute;
  width: 35px;
  left: 90%;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  outline: none;
  border: none;
  height: 100%;
  background-color: var(--color-primary);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: ease 0.3s;
}

.navbar-li-search .bg-non:hover {
  background-color: var(--color-extra);
}

.navbar-li-search img {
  position: absolute;
  width: 25px;
  left: 20%;
  top: 50%;
  transform: translateY(-50%);
}

#bars {
  width: 25px;
  position: absolute;
  left: 95%;
  top: 60%;
  transform: translateY(-50%);
  display: none;
  z-index: 1;
  cursor: pointer;
}

#close img {
  width: 25px;
  display: none;
  height: 25px;
}

/* NAVBAR ENDS */

/* HERO SECTION BEGINS */

.slider {
  position: relative;
  width: 100%;
  background: #2c3e50;
}

.myslider {
  height: 90vh;
  display: none;
  overflow: hidden;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 50px;
  padding: 15px;
  cursor: pointer;
  transition: 0.1s;
  color: var(--color-primary);
  user-select: none;
}

.prev:hover,
.next:hover {
  color: var(--color-secondary);
}

.next {
  right: 0;
}

.dotsbox {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 70px;
  cursor: pointer;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 5px;
  border: 1px solid #fff;
  /* border-radius: 3px; */
  margin: 0 5px 0 0;
  cursor: pointer;
  background: var(--color-extra);
}

.active1,
.dot:hover {
  border-color: var(--color-secondary);
  background: var(--color-primary);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

.text {
  position: absolute;
  color: #000;
  letter-spacing: 2px;
  font-size: 20px;
  line-height: 35px;
  top: 40%;
  left: 15%;
  -webkit-animation-name: posi;
  -webkit-animation-duration: 1.8s;
  animation-name: posi;
  animation-duration: 1.8s;
  z-index: 1;
  padding: 20px;
}

#sliderbtn1,
#sliderbtn4 {
  position: absolute;
  top: 65%;
  left: 4%;
  z-index: 1;
  background-color: var(--color-primary);
  font-size: 25px;
  color: #000;
  transition: ease 0.3s;
}

#sliderbtn3 {
  position: absolute;
  top: 83%;
  left: 70%;
  z-index: 1;
  background-color: var(--color-primary);
  font-size: 25px;
  transition: ease 0.3s;
  color: #fff;
}

#sliderbtn1 a,
#sliderbtn2 a,
#sliderbtn3 a,
#sliderbtn4 a {
  color: #fff;
}

#sliderbtn1:hover,
#sliderbtn2:hover,
#sliderbtn3:hover,
#sliderbtn4:hover {
  background: var(--color-secondary);
}

@-webkit-keyframes posi {
  from {
    top: -50%;
  }
  to {
    top: 40%;
  }
}

@keyframes posi {
  from {
    top: -50%;
  }
  to {
    top: 40%;
  }
}

.text h1 {
  color: #eec314;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 20px 0;
  font-size: 50px;
  line-height: 1;
}

.text p {
  font-weight: bold;
  font-size: 20px;
  color: #000;
}

.text a {
  color: #000;
}

.slider .myslider img {
  -webkit-animation-name: zoomin;
  -webkit-animation-duration: 40s;
  animation-name: zoomin;
  animation-duration: 40s;
}

/* HERO SECTION ENDS */

/* fEATURE BOXES BEGIN */

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 14px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
  cursor: pointer;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: var(--color-alt);
  background-color: var(--color-extra);
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

/* fEATURE BOXES ENDS*/

/* product setion */
#product1 {
  text-align: center;
}

.desc img {
  width: 20px;
}

#product1 .pro-contain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border-radius: 20px;
  border: 1px solid #cce7d0;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
}

.product-img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .desc {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .desc span {
  color: #606063;
  font-size: var(--very-small-font);
}

#product1 .pro .desc h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .desc h4 {
  padding-top: 7px;
  font-size: var(--text-font);
  font-weight: var(--bold-text);
  color: var(--color-primary);
}

#product1 .pro .quote-img {
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 7px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: var(--medium-text);
  color: var(--color-primary);
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 55px;
  transition: 0.5s ease;
}

#product1 .pro .cart-img {
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 7px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: var(--medium-text);
  color: var(--color-primary);
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
  transition: 0.5s ease;
}

#product1 .pro .cart-img:hover,
#product1 .pro .quote-img:hover {
  transform: scale(1.1);
}

/* END OF PRODUCT SECTION */
/* services */

#service {
  width: 100%;
  background: #efefef;
  padding: 40px 80px;
  text-align: center;
}
.service-box {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
.single-service {
  flex-basis: 48%;
  text-align: center;
  border-radius: 0.7rem;
  margin-bottom: 2rem;
  color: #fff;
  position: relative;
}
.single-service img {
  width: 100%;
  border-radius: 0.7rem;
}
.over-lay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 0.7rem;
  cursor: pointer;
  background: linear-gradient(
    to left top,
    #ffbb00,
    #efc800,
    #dbd400,
    #c4e000,
    #a8eb12
  );
  opacity: 0;
  transition: 1s;
}

.single-service:hover .over-lay {
  opacity: 1;
}
.service-desc {
  width: 80%;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translatex(-50%);
  opacity: 0;
  transition: 1s;
  color: #fff;
}
.service-desc hr {
  background: #fff;
  height: 0.2rem;
  border: 0;
  margin: 1.5rem auto;
  width: 60%;
}
.service-desc p {
  font-size: 15px;
  text-transform: capitalize;
  color: #fff;
}
.service-desc h3 {
  font-size: 1rem;
  color: #fff;
}

/* .service-desc a{
  color: #fff;
} */
.single-service:hover .service-desc {
  opacity: 1;
  bottom: 30%;
}

/* courses */
.container1 {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.courses .title {
  text-align: center;
}

.grid {
  flex-basis: 30%;
}

.grid img {
  width: 100%;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 0;
}

.grid h5 {
  font-size: 21px;
  color: var(--text-color);
  margin: 10px auto;
  text-transform: capitalize;
  text-align: center;
}

.grid-dec {
  padding-bottom: 40px;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: var(--color-alt);
  width: 100%;
  cursor: pointer;
}

.grid-dec a {
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: var(--color-primary);
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

.dec_text {
  padding: 0 10px;
}

.grid-dec:hover {
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.2);
}

.grid-dec a:hover {
  background-color: var(--color-secondary);
}

.grid-dec p {
  color: var(--text-color);
  font-size: 16px;
  margin-bottom: 30px;
  text-align: left;
}

/* BANNER SECTION BEGINS */

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../img/banner/b2.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#banner h4 {
  color: #fff;
  font-size: var(--text-font);
}

#banner h2 {
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span {
  color: var(--color-secondary);
}

#banner button:hover {
  background: var(--color-primary);
  color: #fff;
}
/* END OF BANNER SECTION */

/*2 GRID BANNERS */
#sm-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background-image: url("../img/banner/1.jpg");
  min-width: 49%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 0 30px;
}

#sm-banner .banner-box2 {
  background-image: url("../img/banner/2.jpg");
}

#sm-banner h4 {
  color: #fff;
  font-size: 23px;
  font-weight: var(--thin-text);
}

#sm-banner h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 800;
}

#sm-banner span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

/*2 GRID ENDS */

/* 3 GRID BEGINS */
#banner-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 80px;
}
#banner-3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background-image: url("../img/banner/3.jpg");
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 0 20px;
  margin-bottom: 20px;
}

#banner-3 .banner-box2 {
  background-image: url("../img/banner/4.jpg");
}

#banner-3 .banner-box3 {
  background-image: url("../img/banner/5.jpg");
}

#banner-3 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
  text-transform: uppercase;
}

#banner-3 h3 {
  color: var(--color-extra);
  font-weight: 800;
  font-size: 15px;
}

/* 3 GRID ENS */

/* NEWSLETTER BEGINS */
#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(../img/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-size: cover;
  background-color: #041e42;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: var(--bold-text);
  color: #fff;
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}

#newsletter p span {
  color: #ffbd27;
}

#newsletter .form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25rem;
  width: 76%;
  font-size: 14px;
  border: 1px solid transparent;
  outline: none;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

#newsletter button {
  background-color: var(--color-primary);
  color: #fff;
  white-space: nonwrap;
  font-size: 14px;
  height: 51px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

/* NEWSLETTER ENDS */

/* FOOTER BEGINS */

footer {
  background-color: var(--color-nav);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.footer .logo {
  margin-bottom: 30px;
}

.footer h4 {
  font-size: 17px;
  padding-bottom: 20px;
}

.footer p {
  font-size: 16px;
  margin: 0 0 8px 0;
}

.footer a {
  font-size: 16px;
  color: #222;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.4s ease;
}

.footer a:hover {
  color: var(--color-secondary);
  text-decoration: underline;
}

.footer .follow {
  margin-top: 20px;
}

.facebook {
  padding: 5px;
  width: 30px;
  height: 30px;
  background: var(--color-alt);
  border-radius: 50%;
  transition: 0.3s ease;
}

.facebook:hover {
  background: var(--color-secondary);
  transform: scale(1.1);
  cursor: pointer;
}

.footer .install .row img {
  border: 1px solid var(--color-primary);
  border-radius: 5px;
}

.footer .install img {
  margin: 10px 0 15px 0;
}

footer .copyright {
  width: 100%;
  text-align: center;
}
/* FOOTER ENDS */
/* End of index page */

/* form syling */
.form-hero {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url("../img/banner/bg8.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form-box {
  width: 380px;
  height: 550px;
  position: absolute;
  left: 50%;
  top: 3%;
  transform: translate(-50%, -3%);
  margin: 6% auto;
  background: var(--color-nav);
  padding: 5px;
  overflow: hidden;
  border-radius: 5px;
}

.button-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px var(--color-secondary);
  border-radius: 5px;
}

.toggle-button {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: var(--color-primary);
  border-radius: 5px;
  transform: 0.3s;
}

.input-group {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: 0.3s;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  outline: none;
  border: 1px solid #818ea0;
  border-radius: 5px;
  background: transparent;
}

.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  background: var(--color-primary);
  border: 0;
  outline: none;
  border-radius: 5px;
  margin: 20px auto;
}

.check-box {
  margin: 30px 10px 30px 0;
}

.input-group span {
  color: #777;
  font-size: 12px;
  bottom: 86px;
  position: absolute;
}

.input-group #second {
  bottom: 68px;
}

#signin {
  left: 50px;
}

#register {
  left: 450px;
}

.input-group a {
  text-align: center;
  margin-top: 20px;
  margin-left: 70px;
}

.reset h4 {
  margin-top: 70px;
}
.reset h4,
.reset p {
  text-align: center;
  color: var(--text-color);
}

.resetbtn {
  margin-top: 20px;
}
/* end of form styling */

/* Product Page */
#page-header {
  background-image: url("../img/about/banner.png");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 14px;
}

#page-header h2,
#page-header p {
  color: #fff;
}

/* Cart page */
#cart {
  overflow-x: auto;
}
#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}

#cart table thead {
  border: 1px solid var(--color-alt);
  border-left: none;
  border-right: none;
}

#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}

#cart table tbody tr td {
  padding-top: 15px;
}

#cart table tbody td {
  font-size: 13px;
}

#cart table img {
  width: 70px;
}

.mark {
  width: 20px;
  height: 20px;
}

#cart tbody tr button {
  text-align: center;
  outline: none;
  border: 1px solid#e2e9e1;
  transition: 0.5s;
}

#cart tbody tr button.qty-up,
#cart tbody tr button.qty-down {
  width: 40px;
  height: 40px;
  outline: none;
  border: 1px solid#e2e9e1;
  transition: 0.5s;
}

/* #cart tbody tr button:hover {
  background: var(--color-primary);
} */

#cart tbody tr button {
  width: auto;
  text-align: center;
}

#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#coupon {
  width: 50%;
  margin-bottom: 30px;
}

#coupon h3,
#subtotal h3 {
  padding-bottom: 15px;
}

#coupon input {
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid#e2e9e1;
}

#coupon button,
#subtotal button {
  background-color: var(--color-primary);
  color: #fff;
  padding: 12px 30px;
}

#subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}

#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}

/* checkout page */
#checkout .container {
  width: 90%;
  margin: 0 auto;
}

#checkout .container h4 {
  font-size: 25px;
  color: var(--text-color);
  margin-bottom: 10px;
}

#checkout .container hr {
  color: var(--color-alt);
  height: 2px;
  margin: 20px 0;
}

#checkout .container .checkout-details {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

#checkout .container .checkout-details .form {
  width: 60%;
}

#checkout .container .checkout-details .form .address {
  width: 82%;
}

#checkout .container .checkout-details .checkout-prod {
  width: 40%;
}

#checkout .container .checkout-details .form input,
#checkout .container .checkout-details .form select {
  width: 40%;
  padding: 10px;
  margin-bottom: 15px;
  margin-right: 10px;
  color: var(--text-font);
  outline: none;
}

#checkout .container .checkout-details .form input:active,
#checkout .container .checkout-details .form select:active {
  outline: none;
}

#checkout .container .checkout-details .checkout-prod .prod {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

#checkout .container .checkout-details .checkout-prod .prod img {
  margin-right: 30px;
  border: 1px solid var(--color-secondary);
  padding: 8px;
}

#checkout .container .checkout-details .checkout-prod .prod .name {
  font-weight: 700;
}

#checkout .container .checkout-details .checkout-prod .prod #sub {
  margin-left: 200px;
  align-self: flex-end;
}

#checkout .container .checkout-details .checkout-prod .total_price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#checkout .container .checkout-details .checkout-prod button {
  color: #fff;
  width: 100%;
  background-color: var(--color-primary);
  transition: all 0.3s;
}

#checkout .container .checkout-details .checkout-prod button:hover {
  background-color: var(--color-secondary);
}

.shipping {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* payment page */

.pay .container {
  height: 25vh;
  margin: 30px auto;
  text-align: center;
}

.pay .container h2 {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 30px;
  color: var(--black-color);
  text-transform: capitalize;
}

.pay .container button {
  background: var(--color-primary);
  color: #fff;
  transition: all 0.5s;
}

.pay .container button:hover {
  background: var(--color-secondary);
}

/* success page */
.success .container {
  /* height: 40vh; */
  margin: 30px auto;
  text-align: center;
  align-items: center;
}

.success .container .icon {
  /* height: 50px; */
  margin: 20px 0;
  padding: 10px 0;
}

.success .container .icon img {
  height: 120px;
  padding: 20px;
  background: var(--color-alt);
  border-radius: 60px;
}

.success .container h3 {
  color: var(--text-color);
  font-size: 30px;
}

.success .container span {
  color: #818ea0;
}

.success .container p {
  color: #000;
}

.success .container .mail {
  color: var(--text-color);
}

.success .container button {
  background: var(--color-primary);
  transition: all 0.5s;
  color: #fff;
}

.success .container button:hover {
  background: var(--color-secondary);
}

/* Product Page */
#pagination {
  text-align: center;
}

#pagination a {
  background-color: var(--color-primary);
  padding: 15px 20px;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  transition: ease-in 0.3s;
}

#pagination a:hover {
  background-color: var(--color-secondary);
}

#pagination a.current {
  background-color: var(--color-alt);
  color: #000;
}

#pagination img {
  width: 15px;
  height: 15px;
}

/* single product  */
#pro-detail {
  display: flex;
  margin-top: 20px;
}

#pro-detail .single-pro-image {
  width: 40%;
  margin-right: 50px;
}

.single-pro-image .small-img-group {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.small-img-group img {
  width: 100%;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#pro-detail .single-pro-detail {
  width: 50%;
  padding-top: 30px;
}

#pro-detail .single-pro-detail h4 {
  padding: 40px 0 20px 0;
}

#pro-detail .single-pro-detail h2 {
  font-size: 26px;
}

#pro-detail .single-pro-detail select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#pro-detail .single-pro-detail input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#pro-detail .single-pro-detail input:focus {
  outline: var(--color-secondary);
}

#pro-detail .single-pro-detail span {
  line-height: 25px;
  font-size: var(--text-font);
}

#pro-detail .single-pro-detail button {
  color: #fff;
  background-color: var(--color-primary);
  transition: all 0.5s;
}

#pro-detail .single-pro-detail button:hover {
  background: var(--color-secondary);
}

/* About Page */
#about-head marquee {
  background-color: var(--color-nav);
  width: 100%;
}

#about-head {
  display: flex;
  align-items: center;
}

#about-head div {
  padding-left: 40px;
}

#about-head img {
  width: 50%;
  height: auto;
}

#mission ul {
  width: 100%;
  color: var(--text-color);
  font-size: 16px;
  padding-left: 30px;
}

#mission ul li {
  list-style: bullet;
  margin-bottom: 10px;
}

#about-app {
  text-align: center;
}

#about-app .video {
  width: 70%;
  height: 100%;
  margin: 30px auto 0 auto;
}

#about-app .video video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

#pay {
  height: 70vh;
}

/* Contact page */
#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact-details .details {
  width: 40%;
}

#contact-details .details span,
#form-detail form span {
  font-size: 12px;
}

#contact-details .details h2,
#form-detail form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}

#contact-details .details li {
  display: flex;
  padding: 10px 0;
  align-items: center;
}

#contact-details .details h3 {
  font-size: 16px;
  padding-bottom: 15px;
}

#contact-details .details img {
  width: 40px;
  margin-right: 22px;
  background: var(--color-alt);
  padding: 10px;
  border-radius: 20px;
}

#contact-details .details li p {
  margin: 0;
  font-size: 14px;
}

#contact-details #map {
  width: 55%;
  height: 400px;
}

#contact-details #map iframe {
  width: 100%;
  width: 100%;
}

#form-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

#form-detail form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#form-detail form input,
#form-detail form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}

#form-detail form button {
  background-color: var(--color-primary);
  color: #fff;
  width: 100%;
}

/* media querris for index page */
@media (max-width: 1350px) {
  .navbar-li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s ease;
    z-index: 10;
  }

  .navbar-li-search input {
    width: 230px;
  }

  .navbar-li-search img {
    left: 20%;
  }

  .active {
    right: 0;
  }

  .navbar-li li {
    margin-bottom: 25px;
  }

  .navbar-li-search {
    margin-left: 18px;
  }

  /* .right {
    position: relative;
    top: 55%;
    left: 10px;
  } */

  #bars {
    display: block;
  }

  #close img {
    position: absolute;
    display: block;
    top: 30px;
    left: 30px;
  }

  .main {
    margin-bottom: 0;
    height: 20px;
  }

  .sub-menu {
    position: initial;
    border: 3px solid transparent;
    border-right-color: var(--color-primary);
    margin-left: 1rem;
    max-height: 0;
    transition: 0.5s ease;
    width: 260px;
    background: var(--color-extra);
  }
  .sub-menu::before {
    display: none;
  }
  .navbar-li li:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
    max-height: initial;
  }

  .container1 {
    width: 100%;
  }
}

@media (max-width: 1000px) {
   .container1 {
    width: 80%;
    justify-content: center;
    flex-direction: column;
  }

  .grid {
    flex-basis: 45%;
  }

  .grid-dec {
   margin: 20px 0;
  }

}

@media (max-width: 850px) {
  .section-p1 {
    padding: 40px 40px;
  }

  .myslider {
    height: 70vh;
  }

  .text {
    line-height: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-animation-name: posi2;
    -webkit-animation-duration: 2s;
    animation-name: posi2;
    animation-duration: 2s;
  }

  @-webkit-keyframes posi2 {
    from {
      top: 35%;
    }
    to {
      top: 50%;
    }
  }

  @keyframes posi2 {
    from {
      top: 35%;
    }
    to {
      top: 50%;
    }
  }

  .text h1 {
    font-size: 40px;
  }

  .text p {
    font-size: 13px;
  }

  #feature {
    justify-content: center;
  }

  #feature .fe-box {
    margin: 15px 15px;
  }

  #product1 .pro-contain {
    justify-content: center;
  }

  #product1 .pro-contain .pro {
    margin: 15px;
  }

  #banner {
    height: 20vh;
  }

  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
  }

  #banner-3 {
    padding: 0 40px;
  }

  #banner-3 .banner-box {
    width: 20%;
  }

  #newsletter .form {
    width: 70%;
  }

  #newsletter .form button {
    font-size: 12px;
    padding: 11px 30px;
  }

  #pro-detail {
    flex-direction: column;
  }

  #pro-detail .single-pro-image {
    width: 100%;
    margin-right: 0;
  }

  #pro-detail .single-pro-detail {
    width: 100%;
  }

  #service {
    padding: 40px 0px;
  }
  .single-service {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .service-desc p {
    font-size: 15px;
  }
  .service-desc h3 {
    font-size: 0.9rem;
  }
  hr {
    margin: 2px auto;
  }
  .single-service:hover .service-desc {
    bottom: 20%;
  }
}

@media (max-width: 550px) {
  #bars {
    left: 90%;
  }

  .right {
    top: 47%;
  }

  .section-p1 {
    padding: 40px 20px;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 32px;
  }

  .text h1 {
    font-size: 20px;
  }

  .text p {
    font-size: 10px;
  }

  .grid-dec {
   margin: 20px 0;
  }

  .text a {
    font-size: 12px;
    padding: 8px;
  }

  .container1 {
    width: 90%;
    justify-content: center;
    flex-direction: column;
  }

  .grid {
    flex-basis: 100%;
  }

  #feature {
    justify-content: space-between;
  }

  #feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }

  #product1 .pro {
    width: 100%;
  }

  .single-service:hover .service-desc {
    bottom: 7%;
  }

  #banner {
    height: 40vh;
  }

  #sm-banner .banner-box {
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  #sm-banner.section-p1 {
    padding: 20px;
  }

  #banner-3 {
    padding: 0 20px;
  }

  #banner-3 .banner-box {
    width: 100%;
    height: 27vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  #newsletter .form {
    width: 100%;
  }

  footer .copyright {
    text-align: start;
  }

  /* cart responsive */
  #cart-add {
    flex-direction: column;
  }

  #coupon {
    width: 100%;
  }

  #subtotal {
    width: 100%;
  }

  #about-head {
    flex-direction: column;
  }

  #about-head img {
    width: 100%;
    margin-bottom: 20px;
  }

  #about-head div {
    padding-left: 0px;
  }

  #about-app .video {
    width: 100%;
  }

  #mission ul {
    font-size: 14px;
    padding-left: 20px;
  }

  #mission ul li {
    margin-bottom: 5px;
  }

  #contact-details {
    flex-direction: column;
  }

  #contact-details .details {
    width: 100%;
    margin-bottom: 30px;
  }

  #contact-details #map {
    width: 100%;
  }

  #form-detail form {
    width: 100%;
  }
  #checkout .container .checkout-details .checkout-prod {
    width: 100%;
  }

  #checkout .container .checkout-details .form {
    width: 100%;
  }

  #checkout .container .checkout-details .form input {
    width: 100%;
  }

  #checkout .container .checkout-details .form input,
  #checkout .container .checkout-details .form select {
    width: 100%;
    /* padding: 10px; */
  }

  #checkout .container .checkout-details .checkout-prod .prod #sub {
    margin-left: 20px;
    align-self: flex-end;
  }

  #checkout .container .checkout-details .form .address {
    width: 100%;
  }
}
